@import "../../_base.scss";

.messages {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0 2rem;
    overflow-y: auto;

    &_followers {
        display: flex;
        gap: 1rem;
        width: 350px;
        align-items: center;
        padding: 0 2rem;
        overflow-y: auto;
        margin-bottom: 1rem;
    }
    &_followers:hover {
        background-color: $main-color;
    }
    &_bodywrapperfollowers {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7rem;
    }
    &_profileimg {
        position: relative;
        overflow: visible;
        img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            object-fit: cover;
            margin-top: 10px;
        }
        &.active {
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 50%;
            border: 3px solid rgb(255, 255, 255);
            background: rgb(3, 245, 3);
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    &_bodywrapper {
        display: flex;
        align-items: center;
        gap: 3rem;
    }
    &_body {
        padding-top: 0.5rem;
        p {
            font-size: 0.8rem;
            opacity: 0.8;
        }
    }
    &_accbtn {
        align-items: center;
        background-color: $button-color;
        border: 0;
        border-radius: 100px;
        box-sizing: border-box;
        color: #ffffff;
        cursor: pointer;
        display: inline-flex;
        font-size: 14px;
        font-weight: 500;
        justify-content: center;
        line-height: 20px;
        height: 35px;
        min-width: 0px;
        overflow: hidden;
        padding: 0 18px;
        text-align: center;
    }
}
