@import "../../_base.scss";

.skeleton {
    background: #ddd;
    margin: 5px 0;
    border-radius: 4px;

    &.text {
        width: 100%;
        height: 12px;
    }
    &.title {
        width: 100px;
        height: 16px;
    }
    &.title-sm {
        width: 100px;
        height: 8px;
    }
    &.description {
        width: 100%;
        height: 15px;
    }
    &.description-sm {
        width: 95%;
        height: 15px;
        margin: 0 0.5rem;
    }
    &.avatar {
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
    &.avatar-md {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin: 0 0.5rem;
    }
    &.avatar-lg {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 3px solid white;
    }
    &.thumbnail {
        width: 100px;
        height: 100px;
    }
    &.post {
        width: 100%;
        height: 500px;
        border-radius: 10px;
        margin: 10px 0;
    }
    &.post-sm {
        width: 95%;
        height: 500px;
        border-radius: 10px;
        margin: 10px 8px;
    }
    &.rectangle {
        width: 100%;
        height: 140px;
        border-radius: 10px;
        margin: 10px 0;
    }
    &.rectangle-lg {
        width: 100%;
        height: 250px;
        border-radius: 10px;
    }
}

// Post skeleton styles start//
.postskeleton {
    width: 600px;
    display: flex;
    flex-direction: column;
    &_header {
        display: flex;
        gap: 0.5rem;
    }
    &_titles {
        padding-top: 0.5rem;
    }
}

@media (max-width: $breakpoint-medium) {
    .postskeleton {
        width: 100%;
    }
}
// Post skeleton styles end//

//follow counter skeleton styles start//
.followcounterskeleton {
    width: 100%;
    height: 170px;
    padding: 0 10px;
    &.light {
        background: #f2f2f2;
    }
    &.dark {
        background: #444;
    }
}
//follow counter skeleton styles end//

//Home post skeleton styles start//
.homepostskeleton {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    border-radius: 10px;
    &_header {
        display: flex;
        gap: 0.5rem;
    }
    &_titles {
        padding-top: 0.5rem;
    }
    &.light {
        background: #ffffff;
        height: 100vh;
    }
    &.dark {
        background: #444;
    }
}
