@import "../../_base.scss";

.rightaside {
    flex: 3.5;
    height: 90vh;
    margin-top: 20px;
    margin-right: 10px;
    position: sticky;
    top: 90px;
    border-radius: 10px;
    box-shadow: $main-shadow;
    background-color: $background-color;
    transition: transform 0.2s ease-in;
    &_wrapper {
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: $breakpoint-large) {
    .rightaside {
        display: none;
    }
}

.profilerightaside {
    flex: 3.5;
    height: 90vh;
    margin-top: 20px;
    margin-right: 10px;
    position: sticky;
    top: 90px;
    border-radius: 10px;
    background-color: $background-color;
    transition: transform 0.2s ease-in;
    &_wrapper {
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: $breakpoint-large) {
    .profilerightaside {
        height: auto;
    }
}
