@import "../../_base.scss";
.projecttodo {
    display: flex;
    flex-direction: column;

    &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 30px;

        h3 {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
    &_delete {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(247, 3, 3, 0.5) 0px 1px 3px 0px, rgba(247, 3, 3, 0.5) 0px 0px 0px 1px;
        width: 30%;
        padding: 0.5rem 0;
        opacity: 0.5;
    }
    &_delete:hover {
        opacity: 0.8;
        box-shadow: rgba(255, 0, 0, 0.349) 0px 4px 12px;
    }
    &_deleteicon {
        opacity: 0.5;
    }
    &_input {
        display: flex;
        gap: 0.5rem;
        label {
            align-items: center;
            display: flex;
            color: #666;
            font-size: 14px;
            // margin-bottom: 5px;
            transition: 0.4s;
        }
        input {
            height: 45px;
            width: 100%;
            outline: none;
            border-radius: 5px;
            border: 2px solid $main-color;
            padding-left: 15px;
            font-size: 14px;
            transition: 0.4s;
        }
    }
    &_buttonadd {
        background-color: #ffffff;
        border: 1px solid rgb(175, 175, 175);
        border-radius: 4px;
        height: 42px;
        color: black;
        font-size: 1rem;
        font-weight: 500;
        padding: 0.4rem 1rem;
        text-align: center;
        text-decoration: none #d1d5db solid;
        text-decoration-thickness: auto;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }
    &_buttonadd:hover {
        background-color: rgb(249, 250, 251);
    }

    &_buttonadd:focus {
        outline: 2px solid rgb(249, 250, 251);
        outline-offset: 2px;
    }

    &_buttonadd:focus-visible {
        box-shadow: none;
    }
    hr {
        margin: 0 30px;
        opacity: 0.5;
    }
    &_header2 {
        padding: 10px 30px;
        text-align: center;
        h3 {
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
    &_wrapper {
        display: flex;
        flex-direction: row;

        &_nostatus {
            flex: 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-right: 1px solid $horizontalline-color;
            margin-bottom: 30px;
            height: max-content;
        }
        &_nextup {
            flex: 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-right: 1px solid $horizontalline-color;
            margin-bottom: 30px;
            height: max-content;
        }
        &_inprogress {
            flex: 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-right: 1px solid $horizontalline-color;
            margin-bottom: 30px;
            height: max-content;
        }
        &_completed {
            flex: 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-right: 1px solid $horizontalline-color;
            margin-bottom: 30px;
            height: max-content;
        }
    }
    &_singletodo {
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        flex-wrap: wrap;
        padding: 0.5rem 0;
        margin: 0.5rem 0;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        background: #fdfdfd;
    }
}
