@import "../../_base.scss";

.detailsform {
    max-width: 700px;
    width: 100%;
    background-color: $background-color;
    padding: 25px 30px;
    border-radius: 5px;
    &_title {
        font-size: 1.4rem;
        font-weight: 500;
        position: relative;
    }

    &_title::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 30px;
        background: $button-color;
    }
    &_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0 12px 0;

        &_input {
            margin-bottom: 15px;
            width: calc(100% / 2 - 20px);
            &_icons {
                margin-bottom: 5px;
                margin-left: 2px;
            }
            label {
                align-items: center;
                display: flex;
                color: #666;
                font-size: 14px;
                margin-bottom: 5px;
                transition: 0.4s;
            }
            textarea {
                height: 45px;
                width: 100%;
                outline: none;
                border-radius: 5px;
                border: 1px solid $main-color;
                padding-left: 15px;
                font-size: 14px;
                transition: 0.4s;
                resize: none;
            }
            select {
                height: 45px;
                width: 100%;
                outline: none;
                border-radius: 5px;
                border: 1px solid $main-color;
                padding-left: 15px;
                font-size: 14px;
                transition: 0.4s;
            }
            input {
                height: 45px;
                width: 100%;
                outline: none;
                border-radius: 5px;
                border: 1px solid $main-color;
                padding-left: 15px;
                font-size: 14px;
                transition: 0.4s;
            }
            textarea:focus {
                box-shadow: $main-shadow;
            }
            input:focus {
                box-shadow: $main-shadow;
            }
            .button-skip {
                background-color: #ffffff;
                border: none;
                box-sizing: border-box;
                color: #666;
                font-size: 0.875rem;
                font-weight: 600;
                margin-right: 0.5rem;
                line-height: 1.25rem;
                padding: 0.75rem 1rem;
                text-align: center;
                cursor: pointer;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
            }
            .button-submit {
                background-color: $button-color;
                border: 1px solid rgb(209, 213, 219);
                border-radius: 5px;
                box-sizing: border-box;
                color: white;
                font-size: 0.875rem;
                font-weight: 600;
                line-height: 1.25rem;
                padding: 0.48rem 1rem;
                text-align: center;
                text-decoration: none #d1d5db solid;
                text-decoration-thickness: auto;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
                cursor: pointer;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                transition: 0.3s;
            }
            .button-submit:hover {
                background-color: rgba(162, 26, 252, 0.959);
            }

            .button-submit:focus {
                outline: 2px solid transparent;
                outline-offset: 2px;
            }

            .button-submit:focus-visible {
                box-shadow: none;
            }
        }
        &_input:focus-within label {
            color: $button-color;
        }
    }
    &_add-btn {
        background: none;
        outline: none;
        cursor: pointer;
        font-weight: 500;
        border-radius: 2px;
        padding: 5px 10px;
        align-self: flex-start;
        display: flex;
        align-items: center;
        margin: 0.3rem;
        color: $button-color;
        border: 1px solid $button-color;
    }
    &_remove-btn {
        background: none;
        outline: none;
        cursor: pointer;
        font-weight: 500;
        border-radius: 2px;
        margin: 0.3rem;
        padding: 5px 10px;
        color: red;
        border: 1px solid red;
    }
    &_actions {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 584px) {
    .detailsform {
        max-width: 100%;
        &_wrapper {
            max-height: 300px;
            overflow-y: scroll;
            &_input {
                margin-bottom: 15px;
                width: 100%;
            }
        }
    }
    .detailsform_wrapper::-webkit-scrollbar {
        width: 0;
    }
}

@mixin object-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

$circleSize: 165px;
$radius: 100px;
$shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
$fontColor: rgb(250, 250, 250);
.detailsform_wrapper_input {
    .profile-pic {
        color: transparent;
        @include object-center;
        position: relative;

        input {
            display: none;
        }

        img {
            position: absolute;
            object-fit: cover;
            width: $circleSize;
            height: $circleSize;
            box-shadow: $shadow;
            border-radius: $radius;
            z-index: 0;
        }

        .-label {
            cursor: pointer;
            height: $circleSize;
            width: $circleSize;
            border-radius: $radius;
        }

        &:hover {
            .-label {
                @include object-center;
                background-color: rgba(0, 0, 0, 0.8);
                z-index: 10000;
                color: $fontColor;
                border-radius: $radius;
            }
        }

        span {
            display: inline-flex;
            padding: 0.2em;
            height: 2em;
        }
    }
}
