@import "../../_base.scss";
.createchat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    height: 100%;
    &_wrapper {
        display: flex;
        flex-direction: column;
        width: max-content;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
    &_inputs {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        &_label {
            color: #666;
            font-size: 14px;
            margin-bottom: 5px;
            transition: 0.4s;
        }
        &_input {
            height: 45px;
            width: 100%;
            outline: none;
            border-radius: 5px;
            border: 1px solid $main-color;
            padding-left: 15px;
            font-size: 14px;
            transition: 0.4s;
        }
        &_input:focus {
            box-shadow: $main-shadow;
        }
        &_input:focus-within label {
            color: $button-color;
        }
    }
}

.searchWrapper {
    max-width: 250px;
    overflow-y: auto;
    max-height: 50px;
}
.button-submit {
    background-color: $button-color;
    border: 1px solid rgb(209, 213, 219);
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    padding: 0.48rem 1rem;
    text-align: center;
    text-decoration: none #d1d5db solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: 0.3s;
    margin-top: 10px;
}
.createchath3 {
    margin: 1rem;
}
