@import "../../_base.scss";

.postmodal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &_leftside {
        display: flex;
        flex-direction: column;
        position: relative;
        background: $main-color;
        align-items: center;
        img {
            height: 300px;
            width: 350px;
            object-fit: cover;
            margin: 1rem;
        }

        input {
            position: absolute;
            width: 350px;
            height: 300px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            cursor: pointer;
        }
    }
    &_rightside {
        display: grid;
        grid-template-rows: 0.6fr 0.4fr;
        &.rightside_none {
            display: none;
        }
        &_captionwrapper {
            margin: 0 8px;
            label {
                align-items: center;
                display: flex;
                color: #666;
                font-size: 14px;
                margin: 5px 0 5px 5px;
                margin-bottom: 5px;
                margin-left: 5px;
                transition: 0.4s;
            }
            textarea {
                width: 100%;
                height: 70%;
                outline: none;
                border: 0;
                border-radius: 4px;
                padding-left: 15px;
                font-size: 14px;
                resize: none;
                background: $main-color;
                opacity: 0.3;
            }

            textarea:focus {
                opacity: 0.7;
                border-bottom: 1px rgb(179, 179, 179) solid;
            }
        }

        &_buttonwrapper {
            display: inline-flex;
            flex-direction: row;
            justify-content: flex-end;
            height: fit-content;
            padding: 10px;

            &_cancel {
                background-color: #ffffff;
                border: none;
                box-sizing: border-box;
                color: #666;
                font-size: 0.875rem;
                font-weight: 600;
                margin-right: 0.5rem;
                line-height: 1.25rem;
                padding: 0.75rem 1rem;
                text-align: center;
                cursor: pointer;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
            }
            &_post {
                background-color: $button-color;
                border: 1px solid rgb(209, 213, 219);
                border-radius: 5px;
                box-sizing: border-box;
                color: white;
                font-size: 0.875rem;
                font-weight: 500;
                padding: 0 1rem;
                text-align: center;
                text-decoration: none #d1d5db solid;
                text-decoration-thickness: auto;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
                cursor: pointer;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                transition: 0.3s;
            }
            &_post:hover {
                background-color: rgba(162, 26, 252, 0.959);
            }

            &_post:focus {
                outline: 2px solid transparent;
                outline-offset: 2px;
            }

            &_post:focus-visible {
                box-shadow: none;
            }
        }
    }
}
