@import "../../_base.scss";

.postmodal {
    display: flex;
    align-items: center;
    justify-content: center;
    &_single {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &_leftside {
        flex: 6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &_wrapper {
            position: relative;
            height: 300px;
            width: 100%;
            border-radius: 10px;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }
        &_image {
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img {
            height: 270px;
            width: 300px;
            object-fit: cover;
            border: 0;
            outline: 0;
        }
        &_content {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }

        &_icon {
            font-size: 100px;
            color: #9658fe;
        }
        &_text {
            font-size: 20px;
            font-weight: 500;
            color: #5b5b7b;
        }
        &_action {
            position: relative;
        }
        input {
            opacity: 0;
            overflow: hidden;
            cursor: pointer;
            position: absolute;
            top: 50%;
            height: 40px;
        }
        &_choose {
            margin-top: 30px;
            display: block;
            width: 100%;
            padding: 15px 20px;
            height: 50px;
            border: none;
            outline: none;
            border-radius: 25px;
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 1px;
            text-transform: uppercase;
            cursor: pointer;
            background: linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%);
        }
    }
    &_rightside {
        display: flex;
        flex: 6;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &_wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 300px;
            width: 100%;

            img {
                height: 270px;
                width: 300px;
                object-fit: cover;
                border: 0;
                outline: 0;
            }
        }
        &_confirm {
            margin-top: 30px;
            display: block;
            width: 100%;
            padding: 15px 20px;
            height: 50px;
            border: none;
            outline: none;
            border-radius: 25px;
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 1px;
            text-transform: uppercase;
            cursor: pointer;
            background: linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%);
        }
    }
    &_descriptionarea {
        flex: 6;
        display: flex;
        justify-content: center;
        align-items: center;
        &_wrapper {
            display: flex;
            flex-direction: column;
            height: 300px;
            width: 100%;
            border-radius: 10px;
            overflow: hidden;
            padding: 10px;

            label {
                color: #666;
                font-size: 14px;
                margin-bottom: 5px;
                transition: 0.4s;
            }
            textarea {
                height: 50%;
                width: 100%;
                outline: none;
                border-radius: 5px;
                border: 1px solid $main-color;
                padding-left: 15px;
                font-size: 14px;
                transition: 0.4s;
                resize: none;
                margin-top: 5px;
            }
            textarea:focus {
                box-shadow: $main-shadow;
            }
        }
        &_wrapper:focus-within .postmodal_label {
            color: $button-color;
        }
        &_actions {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 5px 0;

            &_cancel {
                background-color: #ffffff;
                border: none;
                box-sizing: border-box;
                color: #666;
                font-size: 0.875rem;
                font-weight: 600;
                margin-right: 0.5rem;
                line-height: 1.25rem;
                padding: 0.75rem 1rem;
                text-align: center;
                cursor: pointer;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
            }
            &_post {
                background-color: $button-color;
                border: 1px solid rgb(209, 213, 219);
                border-radius: 5px;
                box-sizing: border-box;
                color: white;
                font-size: 0.875rem;
                font-weight: 600;
                line-height: 1.25rem;
                padding: 0.48rem 1rem;
                text-align: center;
                text-decoration: none #d1d5db solid;
                text-decoration-thickness: auto;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
                cursor: pointer;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                transition: 0.3s;
            }
            &_post:hover {
                background-color: rgba(162, 26, 252, 0.959);
            }

            &_post:focus {
                outline: 2px solid transparent;
                outline-offset: 2px;
            }

            &_post:focus-visible {
                box-shadow: none;
            }
        }
    }
    &_input {
        height: 45px;
        width: 100%;
        outline: none;
        border-radius: 5px;
        border: 1px solid $main-color;
        padding-left: 15px;
        font-size: 14px;
        transition: 0.4s;

        &.error {
            outline: 1px solid red;
        }
    }
    &_label {
        align-items: center;
        display: flex;
        color: #666;
        font-size: 14px;
        margin-bottom: 5px;
        transition: 0.4s;
    }
    &_errorlabel {
        align-items: center;
        display: flex;
        color: red;
        font-size: 14px;
        margin-top: 5px;
    }
}

.radio_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.radio_container_form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.radio_container_label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;

    .radio_container_input {
        position: absolute;
        left: -9999px;
        &:checked + span {
            background-color: mix(#fff, $button-color, 84%);
            &:before {
                box-shadow: inset 0 0 0 0.4375em $button-color;
            }
        }
    }
    .radio_container_span {
        display: flex;
        align-items: center;
        padding: 0.375em 0.75em 0.375em 0.375em;
        border-radius: 99em; // or something higher...
        transition: 0.25s ease;
        &:hover {
            background-color: mix(#fff, $button-color, 84%);
        }
        &:before {
            display: flex;
            flex-shrink: 0;
            content: "";
            background-color: #fff;
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            margin-right: 0.375em;
            transition: 0.25s ease;
            box-shadow: inset 0 0 0 0.125em $button-color;
        }
    }
}
