@import "../../_base.scss";

.modal {
    position: fixed;
    z-index: 3;
    width: 800px;
    min-width: 200px;
    min-height: 150px;
    height: 500px;
    border-radius: 10px;
    box-shadow: $main-shadow;
    color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $background-color;
    padding: 10px;
    transition: all 5s ease-in-out;
}
.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
}

// .modal_overlay2 {
//     position: fixed;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     z-index: 2;
//     background-color: rgba(0, 0, 0, 0.123);
// }
