@import "../../_base.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $background-color;
  padding: 1rem 3rem;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: $main-shadow;
  width: 100%;
  // max-width: 1920px;
  height: 10vh;

  &_toggle {
    display: none;
  }

  &_logo {
    width: 180px;
    margin-right: 45px;
    object-fit: contain;
    display: block;
    background-color: $background-color;
  }
  &_sublogo {
    width: 60px;
    margin-right: 20px;
    display: none;
  }
  &_nav_right {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &_button {
      align-items: center;
      background-color: $button-color;
      border: 0;
      border-radius: 100px;
      box-sizing: border-box;
      color: #ffffff;
      cursor: pointer;
      display: inline-flex;
      font-size: 14px;
      font-weight: 500;
      justify-content: center;
      height: 35px;
      min-width: 0px;
      overflow: hidden;
      padding-top: 5px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      margin: 0 20px;
    }
    &_userinfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &_userImg {
        width: 40px;
        cursor: pointer;
        border-radius: 50%;
      }
      span {
        font-size: 0.9rem;
        cursor: pointer;
        color: black;
      }
    }
    &_arrow {
      cursor: pointer;
    }
  }
  &_menu {
    position: absolute;
    top: 76px;
    right: 10px;
    padding: 10px 20px;
    width: 200px;
    border-radius: 15px;
    transition: 0.3s;
    background: #ffffff;
    box-shadow: $main-shadow;
    visibility: hidden;
    opacity: 0;
    h3 {
      width: 100%;
      text-align: center;
      font-size: 1rem;
      font-weight: 500;
      padding: 20px 0;
      line-height: 1.2rem;

      span {
        font-size: 0.9rem;
        font-weight: 400;
      }
    }

    ul li {
      list-style: none;
      padding: 10px 0;
      border-top: 1px solid rgb(216, 212, 212);
      display: flex;
      align-items: center;
    }
    &_icons {
      margin-right: 10px;
      opacity: 0.5;
      transition: 0.5s;
    }
    &_icons:hover {
      opacity: 1;
    }
    &_link {
      display: inline-block;
      font-weight: 500;
      transition: 0.5s;
      cursor: pointer;
    }
    &_link:hover {
      color: rgba(175, 59, 252, 0.959);
    }
  }
  .active {
    top: 80px;
    visibility: visible;
    opacity: 1;
  }
  &_menu::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #ffffff;
    transform: rotate(45deg);
  }
}

@media (max-width: $breakpoint-small) {
  .header {
    padding: 1.5rem;
    &_nav_right {
      padding: 0.2rem;
      &_button {
        display: none;
      }
    }
    &_toggle {
      display: block;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .header {
    padding: 2rem;

    &_logo {
      display: none;
    }
    &_sublogo {
      display: block;
    }
    &_nav_right {
      span {
        font-size: 0.75rem;
      }
      &_userImg {
        width: 30px;
      }
    }
  }
}
