@import "../../_base.scss";

.projectlayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    &_header {
        flex: 1;
        padding: 10px 40px;

        h3 {
            font-size: 2rem;
            font-weight: 600;
        }

        &_time {
            display: flex;
            gap: 0.5rem;
            padding-top: 0.2rem;
            p {
                font-size: 0.95rem;
            }
        }
    }
    &_wrapper {
        box-shadow: $main-shadow;
        background-color: $background-color;
        width: 100%;
        height: 100vh;
    }
    &_titles {
        display: flex;
        align-items: center;
        padding: 10px;
    }

    $columns: 4;

    @for $i from 1 through $columns {
        &_title-#{$i} {
            flex: 1;
            align-items: center;
            text-align: center;
            padding: 10px;
            cursor: pointer;
            @if $i==1 {
                border-bottom: 1px solid rgb(153, 0, 255);
            }
            @if $i==2 {
                border-bottom: 1px solid #cb3837;
            }
            @if $i==3 {
                border-bottom: 1px solid #c836c3;
            }
            @if $i==4 {
                border-bottom: 1px solid #8956ff;
            }
        }
    }

    .active {
        box-shadow: inset 0 0 0 2000px rgba(153, 0, 255, 0.247);
    }
}
