@import "../../_base.scss";

.sidebar {
    flex: 3;
    height: calc(100vh-10vh);
    margin-top: 20px;
    overflow-y: scroll;
    position: sticky;
    top: 50px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #fdfdfd;
    transition: transform 0.2s ease-in;

    &_heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_wrapper {
        padding: 20px;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: none;
            li {
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                &_icon {
                    margin-right: 15px;
                }
            }
        }
        button {
            width: 150px;
            border: none;
            padding: 10px;
            border-radius: 5px;
            font-weight: 500;
        }
        hr {
            margin: 20px 0;
        }
    }
    &.open {
        transform: translate(0);
    }
}

@media only screen and (max-width: $breakpoint-large) {
    .sidebar {
        border-radius: 0 10px 10px 0;
    }
}

@media only screen and (max-width: $breakpoint-medium) {
    .sidebar {
        flex: 1;
        margin-top: 0;
        &_heading {
            span {
                display: none;
            }
        }
        ul {
            display: block;
        }
        li {
            justify-content: center;
        }
        &_listItemText {
            display: none;
        }
        &_button {
            display: none;
        }
    }
}

@media (max-width: $breakpoint-small) {
    .sidebar {
        transform: translate(-100%);
        width: 100px;
        position: fixed;
        z-index: 999;
        top: 10vh;

        &_button {
            display: none;
        }
    }
}
