@import "../../_base.scss";

.projectteam {
    display: flex;
    flex-direction: column;

    &_header {
        padding: 10px 30px;
        h3 {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
    hr {
        margin: 0 30px;
        opacity: 0.5;
    }
    &_user {
        display: flex;
        padding: 20px 40px;

        &_left {
            flex: 6;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5rem;
            img {
                width: 45px;
                height: 45px;
                // border-radius: 50%;
                object-fit: cover;
                margin-top: 10px;
            }

            &_body {
                padding-top: 0.5rem;
                h5 {
                    font-size: 1.45rem;
                }
                p {
                    font-size: 0.8rem;
                    opacity: 0.8;
                }
            }
        }
        &_right {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            &_radios {
                display: flex;
                overflow: hidden;
                border-radius: 1px;
            }
            &_input {
                background-color: #ffffff;
                border: 1px solid rgb(175, 175, 175);
                height: 42px;
                color: black;
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.25rem;
                padding: 0.5rem 1rem;
                text-align: center;
                text-decoration: none #d1d5db solid;
                text-decoration-thickness: auto;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
                cursor: pointer;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;

                &.bgbtn {
                    box-shadow: inset 0 0 0 2000px rgba(153, 0, 255, 0.397);
                }
            }
            &_input:not(:last-of-type) {
                border-right: 1px solid $horizontalline-color;
            }
            &_button-leave {
                background-color: #ffffff;
                border: 1px solid rgb(175, 175, 175);
                border-radius: 4px;
                height: 42px;
                color: red;
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.25rem;
                padding: 0.5rem 1rem;
                text-align: center;
                text-decoration: none #d1d5db solid;
                text-decoration-thickness: auto;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
                cursor: pointer;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;

                &_button-leave:hover {
                    background-color: rgb(249, 250, 251);
                }

                &_button-leave:focus {
                    outline: 2px solid red;
                    outline-offset: 2px;
                }

                &_button-leave:focus-visible {
                    box-shadow: none;
                }
            }
            &_icons {
                display: flex;
                gap: 0.5rem;
                margin-right: 20px;

                &_icontick {
                    cursor: pointer;
                    color: rgba(0, 128, 0, 0.5);
                    transition: opacity 0.3s ease-in 0.1s;
                }
                &_iconclose {
                    cursor: pointer;
                    color: rgba(255, 0, 0, 0.5);
                    transition: opacity 0.3s ease-in 0.1s;
                }

                &_icontick:hover {
                    cursor: pointer;
                    color: rgba(0, 128, 0, 0.8);
                }
                &_iconclose:hover {
                    cursor: pointer;
                    color: rgba(255, 0, 0, 0.8);
                }
            }
        }
    }
}
