@import "../../_base.scss";

.projectteam {
    display: flex;
    flex-direction: column;

    &_header {
        padding: 20px;
        h3 {
            font-size: 2rem;
            font-weight: 600;
        }
    }
    hr {
        margin: 0 30px;
    }
    &_user {
        display: flex;
        padding: 20px 40px;

        &_left {
            flex: 6;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5rem;
            img {
                width: 45px;
                height: 45px;
                // border-radius: 50%;
                object-fit: cover;
                margin-top: 10px;
            }

            &_body {
                padding-top: 0.5rem;
                h5 {
                    font-size: 1.45rem;
                }
                p {
                    font-size: 0.8rem;
                    opacity: 0.8;
                }
            }
        }
        &_right {
            display: flex;
            align-items: center;
            justify-content: center;
            &_radios {
                display: inline-flex;
                overflow: hidden;
                border-radius: 1px;
                box-shadow: $main-shadow;
            }
            &_input {
                display: none;
            }
            &_label {
                padding: 10px 14px;
                font-size: 14px;
                cursor: pointer;
                transition: background 0.1s;
                background: $background-color;
            }
            &_label:not(:last-of-type) {
                border-right: 1px solid $horizontalline-color;
            }
            .projectteam_user_right_input:checked + .projectteam_user_right_label {
                box-shadow: inset 0 0 0 2000px rgba(153, 0, 255, 0.397);
            }
            &_button-leave {
                background-color: #ffffff;
                border: 1px solid rgb(175, 175, 175);
                border-radius: 4px;
                box-sizing: border-box;
                height: 42px;
                color: red;
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.25rem;
                padding: 0.7rem 2rem;
                text-align: center;
                text-decoration: none #d1d5db solid;
                text-decoration-thickness: auto;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
                cursor: pointer;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;

                &_button-leave:hover {
                    background-color: rgb(249, 250, 251);
                }

                &_button-leave:focus {
                    outline: 2px solid red;
                    outline-offset: 2px;
                }

                &_button-leave:focus-visible {
                    box-shadow: none;
                }
            }
        }
    }
}
