@import "../../_base.scss";
.searchWrapper {
    min-height: 45px !important;
}
.projecttaskmodal {
    display: flex;
    gap: 0.5rem;
    &_left {
        display: flex;
        flex-direction: column;
        flex: 6;
        gap: 0.4rem;
        &_inputs {
            display: flex;
            flex-direction: column;
            padding: 0 10px;
            &_label {
                color: #666;
                font-size: 14px;
                margin-bottom: 5px;
                transition: 0.4s;
            }
            &_input {
                height: 45px;
                width: 100%;
                outline: none;
                border-radius: 5px;
                border: 1px solid $main-color;
                padding-left: 15px;
                font-size: 14px;
                transition: 0.4s;
            }
            &_input:focus {
                box-shadow: $main-shadow;
            }
            &_input:focus-within label {
                color: $button-color;
            }
            &_textarea {
                height: 70px;
                width: 100%;
                outline: none;
                border-radius: 5px;
                border: 1px solid $main-color;
                padding-left: 15px;
                font-size: 14px;
                transition: 0.4s;
                resize: none;
            }
            &_textarea:focus {
                box-shadow: $main-shadow;
            }
            select {
                height: 45px;
                width: 100%;
                outline: none;
                border-radius: 5px;
                border: 1px solid $main-color;
                padding-left: 15px;
                font-size: 14px;
                transition: 0.4s;
            }
        }
        &_actions {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 0.4rem;
            .button-skip {
                background-color: #ffffff;
                border: none;
                box-sizing: border-box;
                color: #666;
                font-size: 0.875rem;
                font-weight: 600;
                margin-right: 0.5rem;
                line-height: 1.25rem;
                padding: 0.75rem 1rem;
                text-align: center;
                cursor: pointer;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
            }
            .button-submit {
                background-color: $button-color;
                border: 1px solid rgb(209, 213, 219);
                border-radius: 5px;
                box-sizing: border-box;
                color: white;
                font-size: 0.875rem;
                font-weight: 600;
                line-height: 1.25rem;
                padding: 0.48rem 1rem;
                text-align: center;
                text-decoration: none #d1d5db solid;
                text-decoration-thickness: auto;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
                cursor: pointer;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                transition: 0.3s;
            }
            &_manage {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
    &_manage {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 6;
    }
}
.radio_container_projecttask {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    &_icon {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        color: green;
    }
}
.button-edit {
    background-color: #ffffff;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 4px;
    box-sizing: border-box;
    height: 42px;
    color: #e70c0c;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    padding: 0.75rem 2rem;
    text-align: center;
    text-decoration: none #d1d5db solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-edit:hover {
    background-color: rgb(249, 250, 251);
}

.button-edit:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.button-edit:focus-visible {
    box-shadow: none;
}
