@import "../../_base.scss";

.post {
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
    box-shadow: $main-shadow;
    background-color: $background-color;
    &_wrapper {
        padding: 10px;
    }
    &_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_left {
            display: flex;
            align-items: center;
            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                object-fit: cover;
            }
            &_details {
                margin: 0 10px;
            }
            &_username {
                font-size: 13px;
                font-weight: 500;
            }
            &_date {
                font-size: 12px;
                color: #9a9a9a;
            }
        }
        &_right {
            &_threedot {
                cursor: pointer;
            }
        }
    }
    &_center {
        margin: 20px 0;
        img {
            margin-top: 20px;
            width: 600px;
            max-height: 500px;
            object-fit: contain;
        }
    }
    &_bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_left {
            display: flex;
            align-items: center;
            padding: 0 4px;
            &_icons {
                display: inline-flex;
                align-items: center;
                margin-right: 25px;
            }
            &_icon {
                margin-right: 10px;
                cursor: pointer;
            }
        }
    }
    &_commentform {
        display: flex;
        align-items: center;
        padding: 4px;
        margin: 10px 0;
        &_icons {
            cursor: pointer;
        }
        input {
            flex: 1;
            outline: none;
            border: 0;
            margin: 0 4px;
            transition: 0.4s;
            opacity: 0.5;
        }

        input:focus {
            opacity: 1;
            border-bottom: 1px solid;
        }

        button {
            background-color: #ffffff;
            border: none;
            box-sizing: border-box;
            font-size: 0.875rem;
            font-weight: 600;
            padding: 0 0.5rem;
            text-align: center;
            cursor: pointer;
        }
    }
}

@media (max-width: $breakpoint-large) {
    .post_center {
        img {
            width: 100%;
        }
    }
}
