@import "../../_base.scss";

.post {
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
    box-shadow: $main-shadow;
    background-color: $background-color;
    position: relative;
    &_wrapper {
        padding: 10px;
    }
    &_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_left {
            display: flex;
            align-items: center;
            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                object-fit: cover;
            }
            &_details {
                margin: 0 10px;
            }
            &_username {
                font-size: 13px;
                font-weight: 500;
            }
            &_date {
                font-size: 12px;
                color: #9a9a9a;
            }
        }
        &_right {
            &_threedot {
                cursor: pointer;
            }
            &_options {
                position: absolute;
                top: 52px;
                right: 3px;
                padding: 10px 20px;
                width: 200px;
                border-radius: 15px;
                transition: 0.3s;
                background: #f6f7f9;
                box-shadow: $main-shadow;
                visibility: hidden;
                opacity: 0;

                ul li {
                    list-style: none;
                    padding: 10px 0;
                    border-bottom: 1px solid rgb(216, 212, 212);
                    display: flex;
                    align-items: center;
                }
                &_link1 {
                    display: inline-block;
                    font-weight: 500;
                    transition: 0.5s;
                    cursor: pointer;
                }
                &_link1:hover {
                    color: rgba(175, 59, 252, 0.959);
                }
                &_link2 {
                    display: inline-block;
                    font-weight: 500;
                    transition: 0.5s;
                    cursor: pointer;
                }
                &_link2:hover {
                    color: rgba(238, 0, 0, 0.959);
                }
                &_icons {
                    margin-right: 10px;
                    opacity: 0.5;
                    transition: 0.5s;
                }

                &_icons:hover {
                    opacity: 1;
                }
            }
            &_options::before {
                content: "";
                position: absolute;
                top: -5px;
                right: 10px;
                width: 20px;
                height: 20px;
                background: #f6f7f9;
                transform: rotate(45deg);
            }
        }
        .active {
            top: 52px;
            visibility: visible;
            opacity: 1;
        }
    }
    &_profileimg {
        margin-top: 20px;
        width: 600px;
        // width: 100%;
        max-height: 500px;
        object-fit: contain;
    }
    &_homeimg {
        margin-top: 20px;
        // width: 600px;
        width: 100%;
        max-height: 500px;
        object-fit: contain;
    }
    &_center {
        margin: 20px 0;
    }
    &_bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_left {
            display: flex;
            align-items: center;
            padding: 0 4px;
            &_icons {
                display: inline-flex;
                align-items: center;
                margin-right: 25px;
            }
            &_icon {
                margin-right: 10px;
                cursor: pointer;
                &_liked {
                    color: $button-color;
                }
            }
        }
    }
    &_commentform {
        display: flex;
        align-items: center;
        padding: 4px;
        margin: 10px 0;
        &_icons {
            cursor: pointer;
        }
        input {
            flex: 1;
            outline: none;
            border: 0;
            margin: 0 4px;
            transition: 0.4s;
            opacity: 0.5;
        }

        input:focus {
            opacity: 1;
            border-bottom: 1px solid;
        }

        button {
            background-color: #ffffff;
            border: none;
            box-sizing: border-box;
            font-size: 0.875rem;
            font-weight: 600;
            padding: 0 0.5rem;
            text-align: center;
            cursor: pointer;
        }
    }
}

@media (max-width: $breakpoint-large) {
    .post_center {
        img {
            width: 100%;
        }
    }
}
