@import "../../_base.scss";

.post {
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
    box-shadow: $main-shadow;
    background-color: $background-color;
    &_wrapper {
        padding: 10px;
    }
    &_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_left {
            display: flex;
            align-items: center;
            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                object-fit: cover;
            }
            &_details {
                margin: 0 10px;
            }
            &_username {
                font-size: 13px;
                font-weight: 500;
            }
            &_date {
                font-size: 12px;
                color: #9a9a9a;
            }
        }
        &_right {
            &_threedot {
                cursor: pointer;
            }
        }
    }
    &_center {
        margin: 20px 0;
        img {
            margin-top: 20px;
            width: 100%;
            max-height: 500px;
            object-fit: contain;
        }
    }
    &_bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_left {
            display: flex;
            align-items: center;
            &_icons {
                display: inline-flex;
                align-items: center;
                margin-right: 25px;
            }
            &_icon {
                margin-right: 10px;
                cursor: pointer;
            }
        }
    }
    &_commentform {
        display: flex;
        padding: 4px;

        input {
            flex: 1;
            // border: none;
        }
        button {
            padding: 2px;
            margin-left: 2px;
        }
    }
}
