@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/* ==========================================================================
                               colors
========================================================================== */
$main-color: #e7eaf0;
$background-color: #fdfdfd;

$button-color: rgba(153, 0, 255, 0.959);

$horizontalline-color: #ccc;
/* ==========================================================================
                              shadows
========================================================================== */
$main-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
/* ==========================================================================
                              display breakpoints
========================================================================== */
$breakpoint-small: 540px;
$breakpoint-medium: 720px;
$breakpoint-large: 920px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: $main-color;
    background-attachment: fixed;
    color: black;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.1px;
}

@mixin line-limit($number) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $number;
    -webkit-box-orient: vertical;
}

::-webkit-scrollbar {
    width: 0px;
}
